// colors
$orange: #fdbd1f; 
$violet: #ab6f80;
$violet-text: #978489;
$white: #fff;
$divider-color: #f5f5f4;
$footer-color: #f0f0f0;

$base-color: $violet-text;

// fonts
$base-font-size: 10px;
$base-font-standard: 'Source Sans Pro', sans-serif;
$base-font-weight-normal: 400;
$base-font-weight-light: 300;
$base-font-weight-bold: 700;
$base-font-weight-ultrabold: 900;

//breakpoints
$tiny-width: 480px;
$phone-width: 600px;
$tablet-width: 768px;
$desktop-width: 1024px;



